.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.b-example-divider {
  width: 100%;
  height: 3rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.btn-bd-primary {
  /* --bd-violet-bg: #712cf9; */
  --bd-violet-bg: #0759b6;
  --bd-violet-rgb: 112.520718, 44.062154, 249.437846;

  --bs-btn-font-weight: 600;
  --bs-btn-color: var(--bs-white);
  --bs-btn-bg: var(--bd-violet-bg);
  --bs-btn-border-color: var(--bd-violet-bg);
  --bs-btn-hover-color: var(--bs-white);
  /* --bs-btn-hover-bg: #6528e0; */
  --bs-btn-hover-bg: #02448f;
  /* --bs-btn-hover-border-color: #6528e0; */
  --bs-btn-hover-border-color: #02448f;
  --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
  --bs-btn-active-color: var(--bs-btn-hover-color);
  /* --bs-btn-active-bg: #5a23c8; */
  --bs-btn-active-bg: #02448f;
  /* --bs-btn-active-border-color: #5a23c8; */
  --bs-btn-active-border-color: #02448f;
}

.bd-mode-toggle {
  z-index: 1500;
}

.bd-mode-toggle .dropdown-menu .active .bi {
  display: block !important;
}


.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.b-example-divider {
  width: 100%;
  height: 3rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.btn-bd-primary {
  --bd-violet-bg: #712cf9;
  --bd-violet-rgb: 112.520718, 44.062154, 249.437846;

  --bs-btn-font-weight: 600;
  --bs-btn-color: var(--bs-white);
  --bs-btn-bg: var(--bd-violet-bg);
  --bs-btn-border-color: var(--bd-violet-bg);
  --bs-btn-hover-color: var(--bs-white);
  --bs-btn-hover-bg: #6528e0;
  --bs-btn-hover-border-color: #6528e0;
  --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
  --bs-btn-active-color: var(--bs-btn-hover-color);
  --bs-btn-active-bg: #5a23c8;
  --bs-btn-active-border-color: #5a23c8;
}

.bd-mode-toggle {
  z-index: 1500;
}

.bd-mode-toggle .dropdown-menu .active .bi {
  display: block !important;
}

/*---------------------- */



.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.b-example-divider {
  width: 100%;
  height: 3rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.btn-bd-primary {
  --bd-violet-bg: #2c6df9;
  --bd-violet-rgb: 112.520718, 44.062154, 249.437846;

  --bs-btn-font-weight: 600;
  --bs-btn-color: var(--bs-white);
  --bs-btn-bg: var(--bd-violet-bg);
  --bs-btn-border-color: var(--bd-violet-bg);
  --bs-btn-hover-color: var(--bs-white);
  /* --bs-btn-hover-bg: #6528e0;
  --bs-btn-hover-border-color: #6528e0; */
  --bs-btn-hover-bg: #2862e0;
  --bs-btn-hover-border-color: #2862e0;
  --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
  --bs-btn-active-color: var(--bs-btn-hover-color);
  /* --bs-btn-active-bg: #5a23c8;
  --bs-btn-active-border-color: #5a23c8; */
  --bs-btn-active-bg: #2862e0;
  --bs-btn-active-border-color: #2862e0;
}

.bd-mode-toggle {
  z-index: 1500;
}

.bd-mode-toggle .dropdown-menu .active .bi {
  display: block !important;
}


/* ---------------------------- */
body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

html {
  height: -webkit-fill-available;
}

main {
  height: 100vh;
  height: -webkit-fill-available;
  max-height: 100vh;
  overflow-x: auto;
  /* overflow-y: hidden; */
  display: flex;
  position: relative;
}


.dropdown-toggle {
  outline: 0;
}

.btn-toggle {
  padding: .25rem .5rem;
  font-weight: 600;
  color: var(--bs-emphasis-color);
  background-color: transparent;
}

.btn-toggle:hover,
.btn-toggle:focus {
  color: rgba(var(--bs-emphasis-color-rgb), .85);
  background-color: var(--bs-tertiary-bg);
}

.btn-toggle::before {
  width: 1.25em;
  line-height: 0;
  content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
  transition: transform .35s ease;
  transform-origin: .5em 50%;
}

[data-bs-theme="dark"] .btn-toggle::before {
  content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%28255,255,255,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
}

.btn-toggle[aria-expanded="true"] {
  color: rgba(var(--bs-emphasis-color-rgb), .85);
}

.btn-toggle[aria-expanded="true"]::before {
  transform: rotate(90deg);
}

.btn-toggle-nav a {
  padding: .1875rem .5rem;
  margin-top: .125rem;
  margin-left: 1.25rem;
}

.btn-toggle-nav a:hover,
.btn-toggle-nav a:focus {
  background-color: var(--bs-tertiary-bg);
}

.scrollarea {
  overflow-y: auto;
}


/*                          */
/* my customization classes */
/*                          */

.sidebar {
  position: sticky;
  top: 0;
  z-index: 1001;
}


/* sizes of icons */
.icon-25 { font-size: 25px; }
.icon-50 { font-size: 50px; }
.icon-75 { font-size: 75px; }
.icon-100 { font-size: 100px; }
.icon-200 { font-size: 200px; }
.icon-300 { font-size: 200px; }
/*  */


.custom-card {
  height: 110px;
}

/* .building-card-title-min {
  background-image: url('/assets/images/dormitory/building-1-low-contr.jpg');
  height: 60px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
} */

/* .room-card {
  background-image: url('/assets/images/dormitory/floor-1-low-dimmed.jpg');
  height: 110px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.room-card-min {
  background-image: url('/assets/images/dormitory/floor-1-low-dimmed.jpg');
  height: 60px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
} */

.bg-img-building {
  background-image: url('/assets/images/dormitory/building-1-dimmed-min.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

/* .bg-img-building-alt {
  background-image: url('/assets/images/dormitory/building-1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
} */

.bg-img-floor {
  background-image: url('/assets/images/dormitory/floor-1-dimmed-min.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.hover-zoom {
  -webkit-transition: all 0.3s ease-in-out;
}

.hover-zoom:hover {
  -webkit-transform: scale(0.98,0.98);
  -webkit-transition: all 0.3s ease-in-out;
}

.bg-img-room {
  background-image: url('/assets/images/dormitory/room-inside-1-dimmed-min.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.bg-img-books {
  background-image: url('/assets/images/dormitory/room-books-dimmed-min.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.bg-img-people {
  background-image: url('/assets/images/dormitory/people-1-dimmed-min.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}


/* Loading spinner */
#loader {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.637);
  z-index: 1000;
}

#loader::before {
  content: "";
  border: 16px solid #f3f3f300;
  border-top: 16px solid #1089da;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 0.5s linear infinite;
}

@keyframes spin {
  0% {
      transform: rotate(0deg);
  }

  100% {
      transform: rotate(360deg);
  }
}

/* Bootstrap transparent table */
.table-transparent { --bs-table-bg: transparent !important; }






